/*CP Header Container*/
.page-header {
    background-image: url('../topdnc.jpg');
    background-position: center;
    background-size: cover;
    position: static;
    top: 0;
    margin: 0 auto;
    padding: 0;
    width: 800px;
    width: 100%;
    z-index:-1;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 26pt;
    text-decoration: none;
}

.content0{
 margin: 30px 0px 0px 0px;
 border: 1px solid #ccc;
 padding: 10px;
 width: 460px;
 height: 400px;
 float: left;
 color: black;
 background: white;
 display: inline;
}

.oldercontent {
    position: relative;
    float: left;
    width: 40%;
    background-color: blue;
    z-index: 2;
}

.content {
 margin: 60px 0px 0px 0px;
 border: 1px solid black;
 padding: 10px;

 background: green;
 float: left;
}

.oldcontent{
   position: relative;
   float: left;
   width: 60%;
   background-color: yellow;
    z-index: 140;   
}

h1, h3 {
    padding: 20px 20px 0px 0px;
    font-family: 'Papyrus', cursive;
}

h4 {
    font-family: 'Papyrus', cursive;
    color: yellow;
}

h2{
    font-family: 'Arial';
    color: black;
    font-size: 14;
}

p{
    font-family: 'Serif';
}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: blue;
}

